@media(min-width: 901px) {
    #adminPanel{
        margin-top:80px;
        margin-bottom: -80px;
        background: #404040;
    }
    #adminPanel .containerLight {
        min-height: 200px;
        padding: 40px;
    }
    #adminPanel .tickets h3 {
        float: left;
    }
    #adminPanel .findUser ul {
        float: left;
        margin-left: -25px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #adminPanel .refresh {
        float: right;
        width: 220px;
        padding: 10px 20px;
        background-color: rgb(109, 201, 255);
        color: #404040;
        border: none !important;
        text-align: center;
        margin: 0 auto;
    }
    #adminPanel .tickets .informations button {
        float: left;
        width: 40px;
    }
}
@media(max-width: 900px) {
    #adminPanel{
        float: left;
        width: 100%;
        margin-top: 80px;
        background: #404040;
    }
    #adminPanel .containerLight {
        padding: 15px;
        min-height: 200px;
    }
    #adminPanel .tickets h3 {
        text-align: center;
    }
    #adminPanel .findUser ul {
        text-align: center;
        margin-left: -25px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #adminPanel .findUser ul li {
        list-style: none;
    }
    #adminPanel .refresh {
        float: right;
        width: 100%;
        padding: 10px 20px;
        background-color: rgb(109, 201, 255);
        color: #404040;
        border: none !important;
        text-align: center;
        margin: 0 auto;
    }
    #adminPanel .tickets .informations {
        margin-left: -54px !important;
    }
    #adminPanel .tickets .informations button {
        float: left;
        width: 40px;
        margin-left: 18px !important;
    }
}

#adminPanel .findUser {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#adminPanel .buttonSubmit {
    float: left;
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
    overflow: hidden;
}

@media(max-width: 900px) {
    #adminPanel .buttonSubmit button {
        width: 95%;
        margin-bottom: 10px;
    }
}
@media(min-width: 901px) {
    #adminPanel .buttonSubmit button {
        width: 400px;
    }
}

#adminPanel .buttonSubmit button {
    border: 1px solid #404040;
    padding: 10px 15px 10px 15px;
    margin-left: 10px;
    margin-right: 10px;
}   

#adminPanel .disabled {
    display: none;
}

#adminPanel .findUser .statusAccount {
    padding: 5px 10px 5px 10px;
    border: 1px solid #868686;
    color: #404040;
    margin-left: 20px;
}

#adminPanel .findUser form {
    margin-top: 30px;
}

#adminPanel .tickets {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}

#adminPanel .refresh:hover {
    color: #fff;
    background-color: rgb(44, 155, 219);
}

#adminPanel .tickets .informations {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 20px;
    margin-left: -40px;
}

#adminPanel .tickets .informations li {
    width: 100%;
    clear: both;
    display: block;
    list-style: none;
}

#adminPanel .tickets span.detail {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
#adminPanel .tickets a {
    color: #F2994A;
}

#adminPanel .tickets .informations span.ticketInfo {
    font-weight: bold;
}

#adminPanel .tickets .informations button span {
    display: none;
}

#adminPanel .tickets .informations button:before {
    content: "\f00d";
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900; 
    font-style: normal; 
    font-size: 20px;
}