a, button, input, label {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
    text-decoration: none;
}

.buttonAccept {
    color: #fff;
    background-color: #27AE60;
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    text-transform: uppercase;
}

.buttonDelete {
    width: 43px;
    height: 43px;
    color: #fff;
    background-color: rgb(180, 12, 12);
    border-color: transparent;
}

.inputStyle {
    background-color: #dfdfdf;
    border: 1px solid #a8a8a8;
    padding: 10px;
    font-size: 16px;
}

.errorInfo {
    color: red;
    padding-top: 10px;
}

.backgroundDark {
    background: #404040;
    padding: 30px;
}

.containerLight {
    background-color: #F2F2F2;
    border-radius: 5px;
}

main {
    height: 100%;
    margin-top: 78px;
    clear: both;
    position: relative;
}

footer {
    float: left;
    clear: both;
    padding: 0;
    margin: 0 !important;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    border-top: 3px solid #F2994A;
    background-color: #404040;
    z-index: 2000;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

@media(min-width: 781px) {
    footer p {
        font-size: 18px;
    }
}

@media(max-width: 780px) {
    footer p {
        font-size: 13px;
    }
}

@media screen and (max-width: 900px) {
    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }
}