a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a:hover {
    text-decoration: none;
}

main {
    height: 100%;
    margin-top: 78px;
    clear: both;
    position: relative;
}

footer {
    float: left;
    clear: both;
    padding: 0;
    margin: 0 !important;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    border-top: 3px solid #F2994A;
    background-color: #404040;
    z-index: 2000;
}

footer p {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

@media(min-width: 781px) {
    footer p {
        font-size: 18px;
    }
}

@media(max-width: 780px) {
    footer p {
        font-size: 13px;
    }
}