header {
  overflow: hidden;
  width: 100%;
  background-color: #F2994A;
  padding: 10px;
  height: 80px;
}

header .navLogo {
  float: left;
  padding-bottom: 15px;
}

header .navLogo img {
  width: auto;
  height: 60px;
}

header .formLogin, header .navList {
  float: right;
}

header .navList {
  margin-top: 13px;
}

header .navList li {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

header .navList li a {
  font-size: 20px;
  color: #404040;
}

header .navList li a:hover {
  color: #fff;
}

header .formLogin {
  margin-top: 10px;
  margin-right: -10px;
}

header .formLogin input {
  border: none;
  box-shadow: transparent;
  padding: 7px 15px 7px 15px;
  margin-left: 10px;
  margin-right: 10px;
}

header .formLogin input[type=submit] {
  color: #fff;
  background: #404040;
  font-size: 18px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

header .formLogin input[type=submit]:hover {
  color: #F2994A;
}

.menuIconBar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.menuIcon {
  padding: 10px;
}


/*Extra small devices  */
@media (max-width: 840px) { 
  .navList {
    display: none;
  }
}
/* s Medium devices  */
@media (min-width: 840px) and (max-width: 1199px) {
  .navList {
    font-size: 16px;
  }
  .menuIcon{
    display: none;
  }
  
 }
/* Extra large devices  */
@media (min-width: 1200px) {
  .menuIcon{
    display: none;
  }
}