.selectInput {
    float: left;
    width: 100%;
}

.mainSection select {
    width: 100% !important;
}

.rowLine {
    float: left;
    clear: both;
}

input.wantToBeOwnerInput {
    float: left;
    width: auto !important;
    margin-top: 50px;
}

.wantToBeOwnerLabel {
    float: left;
    padding-left: 15px;
    margin-top: 45px;
}

.buttonSubmit {
    float: left;
    clear: both;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.error {
    color: red;
    margin: 10px;
}

.mainSection button:disabled {
    background: #cacaca;
    color: #404040;
}

.mainSection button {
    color: #404040;
    background: #F2994A;
    border: none;
    text-transform: uppercase;
    padding: 15px;
    margin: 0 auto;
    width: 50%;
}

.mainSection .submitRow {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.mainSection .submitRow input[type=submit] {
    width: 70% !important;
    margin: 0 auto;
    text-align: center;
}