.searchContainer {
    width: 100%;
    margin-top: 200px;
}

.searchInput{
    width: 75%;
    padding: 15px 20px 15px 20px;
    font-size: 20px;
    margin-right: 10px;
}

.searchBtn{
    color: #404040;
    background: #F2994A;
    border: none;
    height: 62px;
    width: 18%;
    text-transform: uppercase;
    font-size: 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.searchBtn:hover {
    color: #fff;
    background-color: #404040;
}