.mainSection {
    margin: 0 auto;
}

.mainSection .containerLight {
    overflow: hidden;
}

.mainSection .label-form:last-of-type {
    margin-bottom: 40px;
}

.mainSection .label-form {
    float: left;
    margin-top: 20px;
}

.mainSection input {
    width: 100%;
}

.mainSection input[type=submit] {
    color: #404040;
    background: #F2994A;
    border: none;
    text-transform: uppercase;
    padding: 15px;
}

.mainSection p.text {
    text-align: center;
    font-size: 20px;
}

.mainSection p.error {
    float: left;
    width: 100%;
    color: red;
}

.mainSection input[type=submit] {
    margin: 0 auto;
}

.mainSection input[type=submit]:hover {
    color: #fff;
    background-color: #404040;
}

.filedLabel{
    display: block;
}

@media(min-width: 901px) {
    .mainSection .containerLight {
        padding: 100px;
    }

    .mainSection p.text {
        padding: 20px;
    }
    
    .mainSection p.error {
        min-height: 40px;
    }

    .mainSection .label-form:nth-of-type(2n+1) {
        padding-right: 30px;
    }
    
    .mainSection .label-form:nth-of-type(2n) {
        padding-left: 30px;
    }
    
    .mainSection .label-form, .mainSection input[type=submit] {
        width: 50%;
    }
}

@media(max-width: 900px) {
    .mainSection .containerLight {
        padding: 40px;
    }

    .mainSection .label-form, .mainSection input[type=submit] {
        width: 100%;
    }
}