header {
/*     position: fixed; */
    /* overflow: hidden; */
  /*   top: 0; */
    width: 100%;
    /* min-height: 70px; */
    background: #404040;
    
   /*  background-color: #F2994A; */
    /* z-index: 3000; */


  }

header nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
 /*    min-height: 70px;
    max-height: 140px; */
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #F2994A;
    z-index: 3000;
    width: 100%;
}  


.menuMobileContainer{
  height: 100vh;
  box-sizing: border-box;
  /* background: #404040; */
}


#logo{
    height: 70px;
}

.menuNavLogoAndName{
  display: flex;
  justify-content: space-between;
  max-width:5%;
}

#menuNavLogoAndNameLogin{
  max-width: 20%;
}

#menuIcon {
    cursor: pointer;
    height: 27px;
    padding: 10px;
    align-self:center;
  }
  
  .menuIconBars {
    width: 35px;
    height: 5px;
    background-color: #404040;
    margin-bottom: 6px;
  }

  #menuIconBarsLast{
    margin-bottom: 0;
  }

  .navMenuList{
    display: flex;
    justify-content:space-evenly;
    width: 95%;
    padding-left: 0;
  }

  #navMenuListLogin{
    width: 70%;
  }
  
  .navMenuListItem{
    display:inline-block;
    font-size: 24px;
    align-self: center;
  }

  .navMenuListItemInput{
    font-size: 24px;
    margin-right: 10px;
  }

  .navMenuListLink{
    text-decoration: none;
    color: #404040;
    cursor: pointer;
  }

  .navMenuListButton{
      background: #404040;
      border-color: #404040;
      color: white;
      cursor: pointer;
  }

  #navMenuInputList{
    display: flex;
    flex-wrap: nowrap;
  }

  #Username{
      align-self: flex-start;
  }

  .NavMenuLabels{
    display: none;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 15px;
  }


  @media (max-width:1100px){

    .navMenuList{
      width: 100%; 
      display: block;
      margin-top: 0;
    }

    .navMenuListItem{
      display:block;
      margin:auto;
      text-align: center;
    }
  
    .navMenuListItemInput{
      display: block;
      margin:auto;
    }

    #navMenuInputList{
      display: block;
      margin:auto;
      padding-top: 125px;
    }

    .navMenuListButton{
      background: #F2994A;
      border-color: #F2994A;
      margin-top:20px;
  }

  .NavMenuLabels{
    display: block;
  }

  .navMenuListLink{
    color: #F2994A;
  }

  #ForgetPasswordTextChange{
    display: none;
  }

  #forgetPassword::after{
    content: 'Resetuj hasło';
    
  }

  /* #menuMobileContainer{
    animation: 1s menuAppear both;
    
  } */

 /*  #EmailLabel{
    padding-top: 100px;
  } */

  }


@media (min-width: 1100px) and (max-width: 1300px) { 

    .navMenuListItem{
        font-size: 20px;
      }

      .navMenuListItemInput{
        font-size: 20px;
      }

 }

/*  @keyframes menuAppear{
  0%{
    transform: translateY(-100vh);
    height: 0;
   }
  100%{ 
    height: calc(100vh - 140px );
    transform:translateY(0);
 }
} */



.menu-enter {
  height: 0;
}

.menu-enter.menu-enter-active {
  height: 100vh;
  transition: height 1s;
}

.menu-leave {
  height: 100vh;
}

.menu-leave.menu-leave-active {
  height: 0;
  transition: height 1s;
}


@media(max-height: 700px){

  #navMenuInputList{
    padding-top: 90px;
  }

  .NavMenuLabels{
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  /* .menuMobileContainer{
    height: 650px;
  }

  .menu-enter {
    height: 0;
  }
  
  .menu-enter.menu-enter-active {
    height:650px;
    transition: height 1s;
  }
  
  .menu-leave {
    height: 650px;
  }
  
  .menu-leave.menu-leave-active {
    height: 0;
    transition: height 1s;
  } */


  }
