header {
    width: 100%;
    background: #404040;
  }

header nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #F2994A;
    z-index: 3000;
    width: 100%;
}  

.menuMobileContainer{
  height: calc(100vh - 70px);
  top:70px;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  background: #404040;
  z-index: 3000;
}

#logo{
    height: 70px;
}

.menuNavLogoAndName{
  display: flex;
  justify-content: space-between;
  max-width:5%;
}

#menuNavLogoAndNameLogin{
  max-width: 20%;
}

#menuIcon {
    cursor: pointer;
    height: 27px;
    padding: 10px;
    align-self:center;
  }
  
  .menuIconBars {
    width: 35px;
    height: 5px;
    background-color: #404040;
    margin-bottom: 6px;
  }

  #menuIconBarsLast{
    margin-bottom: 0;
  }

  .navMenuList{
    display: flex;
    justify-content:space-around;
    width: 95%;
    padding-left: 0;
  }

  #navMenuListLogin{
    width: 70%;
  }
  
  .navMenuListItem{
    display:inline-block;
    font-size: 24px;
    align-self: center;
  }

  .navMenuListItemInput{
    box-sizing: border-box;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
    padding-left: 5px;
  }

  .navMenuListLink{
    text-decoration: none;
    color: #404040;
    cursor: pointer;
  }

  .navMenuListButton{
      background: #404040;
      border: none;
      color: white;
      cursor: pointer;
      box-sizing: border-box;
      padding: 5px 10px 5px 10px;
      height: 40px;
  }

  #navMenuInputList{
    display: flex;
    flex-wrap: nowrap;
  }

  #Username{
      align-self: flex-start;
  }

  .NavMenuLabels{
    display: none;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 15px;
  }


  /* menu animation */

.menu-enter {
  transform: translateX(-100vw);
}

.menu-enter.menu-enter-active { 
  transform:translateY(0);
  transition: transform 1s;
}

.menu-leave {
  transform: translateX(0);
}

.menu-leave.menu-leave-active {
  transform: translateX(-100vw);
  transition: transform 1s;
}

  @media (max-width:1100px){

    .navMenuList{
      width: 100%; 
      display: block;
      margin-top: 0;
      height: 100%;
      overflow: auto;
    }

    .navMenuListItem{
      display:block;
      margin:auto;
      text-align: center;
    }
  
    .navMenuListItemInput{
      display: block;
      margin:auto;
    }

    #navMenuInputList{
      display: block;
      margin:auto;
      padding-top: 60px;
    }

    .navMenuListButton{
      background: #F2994A;
      border-color: #F2994A;
      margin-top:20px;
  }

  .NavMenuLabels{
    display: block;
  }

  .navMenuListLink{
    color: #F2994A;
  }

  #ForgetPasswordTextChange{
    display: none;
  }

  #forgetPassword::after{
    content: 'Resetuj hasło';
    
  }

  /* #menuMobileContainer{
    animation: 1s menuAppear both;
    
  } */

 /*  #EmailLabel{
    padding-top: 100px;
  } */

  }


@media (min-width: 1100px) and (max-width: 1300px) { 

    .navMenuListItem{
        font-size: 20px;
      }

      .navMenuListItemInput{
        font-size: 20px;
      }

 }

/*  @keyframes menuAppear{
  0%{
    transform: translateY(-100vh);
    height: 0;
   }
  100%{ 
    height: calc(100vh - 140px );
    transform:translateY(0);
 }
} */

@media(max-height: 700px){

  #navMenuInputList{
    padding-top: 50px;
  }

  .NavMenuLabels{
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .navMenuListLink{
    padding-bottom: 15px;
  }

/*
  .menu-enter {
    height: 0;
  }
  
  .menu-enter.menu-enter-active {
    height:650px;
    transition: height 1s;
  }
  
  .menu-leave {
    height: 650px;
  }
  
  .menu-leave.menu-leave-active {
    height: 0;
    transition: height 1s;
  } */


  }
