header {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #F2994A;
  padding: 10px;
  z-index: 3000;
}

header .navLogo {
  float: left;
  padding-bottom: 15px;
}

header .userName {
  float: left;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 10px;
}

header .logoutMenu, header .menuAdmin {
  background-color: #404040;
  font-size: 20px;
  color: #F2994A;
  padding: 10px;
  margin-top: -8px;
  margin-left: 10px;
}

header .navLogo img {
  width: auto;
  height: 60px;
}

header .navList li {
  display: inline-block;
}

header .formLogin {
  margin-top: 10px;
  margin-right: -10px;
}

header .formLogin input {
  border: none;
  box-shadow: transparent;
  padding: 7px 15px 7px 15px;
}

header .formLogin input[type=submit] {
  font-size: 18px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

header .formLogin input[type=submit]:hover {
  color: #F2994A;
}

.menuIconBar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.menuIcon {
  float: right;
  padding: 5px;
  margin-top: 8px;
}

.menuIcon.visible {
  background: #404040;
}


@media (min-width: 1200px) {
  header .formLogin, header .navList {
    float: right;
  }

  .menuIcon {
    display: none;
  }

  header .navList {
    margin-top: 13px;
  }

  header .navList li {
    padding-left: 40px;
    padding-right: 40px;
  }

  header .navList li a {
    font-size: 20px;
    color: #404040;
  }
  
  header .navList li a:hover {
    color: #fff;
  }

  header .formLogin input {
    margin-left: 10px;
    margin-right: 10px;
  }

  header .formLogin input[type=submit] {
    color: #fff;
    background: #404040;
  }
}

@media (min-width: 901px) and (max-width: 1199px) {
  header .formLogin, header .navList {
    float: right;
  }

  .menuIcon {
    display: none;
  }

  header .navList {
    margin-top: 19px;
  }

  header .navList li:nth-of-type(1) {
    padding-left: 0 !important;
  }

  header .navList li {
    padding-left: 10px;
    padding-right: 10px;
  }

  header .navList li a {
    font-size: 17px;
    color: #404040;
  }
  
  header .navList li a:hover {
    color: #fff;
  }

  header .formLogin input[type=text], header .formLogin input[type=password] {
    width: 170px;
    margin-left: 5px;
    margin-right: 5px;
  }

  header .formLogin input[type=submit] {
    color: #fff;
    background: #404040;
    width: 140px;
  }
}

@media (max-width: 900px) { 
  #myTopnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 78px;
    background-color: #404040;
    -o-transition:  all 1s ease;
    -ms-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 3000;
  }

  header .userName {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 20px;
  }

  header .navList {
    margin-top: 30px;
    margin-left: -20px;
  }

  header .navList li {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  header .navList li a {
    float: left;
    width: 95%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #F2994A;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
  }
  
  header .navList li a:hover {
    color: #F2994A;
  }

  header .formLogin {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  header .formLogin input {
    width: 90%;
    margin-top: 20px;
    text-align: center;
  }

  header .formLogin input[type=submit] {
    color: #404040;
    background: #F2994A;
    padding: 10px 0 10px 0;
  }

  header .formLogin input[type=submit]:hover {
    color: #fff !important;
  }

}