.notFound {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background-color: #F2F2F2;
    border-radius: 3px;
    padding: 140px;
}

.notFound i, .notFound h2, .notFound p {
    width: 100%;
    text-align: center;
}

.notFound h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

.notFound p {
    font-size: 19px;
}

.listItemContainer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background: #F2F2F2;
    border-radius: 3px;
    min-height: 250px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.listItemContainer:nth-of-type(n+2) {
    margin-top: 30px;
}

.image {
    background: yellowgreen;
    width: 40%;
    height: 250px;
    border-radius: 3px;
}

.restaurantName {
    text-align: center;
    margin: 0 auto;
}

.restaurantInfo {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.restaurantInfo address {
    padding-top: 20px;
}

.restaurantInfo i {
    width: 100%;
}

.restaurantInfo address, .restaurantInfo ul {
    width: 100%;
}

.restaurantInfo ul {
    margin-left: -20px;
}

.restaurantInfo ul li {
    list-style: none;
    padding-bottom: 15px;
}

.badge {
    color:#F2994A;
    border: solid #F2994A;
    border-radius: 20px;
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    margin-top: 20px;
    animation: colorChange 3s;
    animation-iteration-count: infinite;
    -webkit-animation: colorChange 3s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes colorChange {
    0% { border-color: #F2994A; color: #F2994A; }
    50% { border-color: red; color: red; }
    100% { border-color: #F2994A; color: #F2994A;  }
}

@-webkit-keyframes colorChange {
    0% { border-color: #F2994A; color: #F2994A; }
    50% { border-color: red; color: red; }
    100% { border-color: #F2994A; color: #F2994A;  }
}

@media (max-width: 740px) { 
    .notFound {
        padding: 20px;
    }    

    .image {
        width: 100%;
    }

    .listItemContainer {
        width: 95%;
        justify-content:center;
    }

    .restaurantName, .restaurantInfo {
        width: 100%;
    }

    .restaurantName {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 740px) and (max-width: 1199px) {
    .notFound {
        padding: 70px;
    }   
    
    .image {
        width: 100%;
    }

    .restaurantName, .restaurantInfo {
        width: 50%;
    }

    .restaurantInfo {
        border-left: 1px solid rgb(190, 190, 190);
    }
}

@media (min-width: 1200px) {
    .notFound {
        padding: 140px;
    }   
    
    .restaurantName, .restaurantInfo {
        width: 30%;
    }

    .restaurantInfo {
        border-left: 1px solid rgb(190, 190, 190);
    }
}