.restaurantListContainer {
    background: #404040;
    padding-bottom: 10px;
}

.titlePage {
    width: 100%;
    clear: both;
    background: url('../assets/homeBackground.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.titlePage h2 {
    float: left;
    color: #fff;
    margin-left: 50px;
}

.searchRestaurant {
    margin-top: -150px;
}

.filersBar {
    width: 100%;
    clear: both;
    overflow: hidden;
    background: #E0E0E0;
    padding: 15px 20px 15px 20px;
}

@media (min-width: 740px) {
    .titlePage {
        height: 400px;
        background-position: top center; 
    }

    .titlePage h2 {
        margin-top: 150px;
        font-size: 60px;
    }
}

@media (min-width: 741px) {
    .restaurantList {
        padding: 40px;
    }
}

@media (min-width: 740px) and (max-width: 11990px) {
    .filersBar {
        padding-bottom: 15px;
    }
}

@media (max-width: 740px) {
    .restaurantList {
        padding: 15px;
    }

    .titlePage {
        height: 350px;
        background-position: top left; 
    }

    .titlePage h2 {
        margin-top: 90px;
        font-size: 40px;
    }
    
    .filersBar {
        padding-bottom: 35px;
    }
}