.sort {
    float: left;
    overflow: hidden;
    background: #E0E0E0;
}

.sort .form-label-right {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.sort .form-label-right .title  {
    float: left;
    padding-right: 10px;
}

.sort .form-label-right .unit {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.sort select {
    padding: 2px;
}

@media (max-width: 740px) {
    .sort {
        width: 100%;
        margin-left: 10px;
    }
    .sort select {
        float: left;
        clear: both;
        width: 70vw;
    }
}
@media (min-width: 740px) and (max-width: 1199px) {
    .sort {
        width: 100%;
        margin-left: 10px;
    }

    .sort .form-label-right {
        float: left;
        clear: both;
    }

    .sort select {
        float: left;
        clear: both;
        width: 90vw;
    }
}
@media (min-width: 1200px) {
    .sort {
        width: 25%;
    }

    .sort .form-label-right {
        float: right;
    }
}